<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <header>
        
        <div class="header-left">
        <a href="{{'/' | url}}"><img src="/images/logo.jpg" alt="Site Logo" class="logo"></a>
        <h1 class="site-title">Cowhead Company and Associates</h1>
        </div>
        
        <nav>
            <ul>
                <li><a href="{{'/' | url}}">Home</a></li>
                <li><a href="{{'/pages/about/' | url}}">About</a></li>
                <li><a href="{{'/pages/projects/' | url}}">Projects</a></li>
                <li><a href="{{'/pages/contact/' | url}}">Contact</a></li>
                <li><a href="{{'/pages/media/' | url}}">Media</a></li>
            </ul>
        </nav>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer>
        <p>&copy; 2024 Rijan</p>

        <nav>
            <ul>
                <li><a href="{{'/pages/privacy-policy' | url}}">Privacy Policy</a></li>
                <li><a href="{{'/pages/terms-and-condition/' | url}}">Terms and Condition</a></li>

            </ul>
        </nav>

    </footer>
</body>
</html>