---
title: about
Date: 2024-10-01
tags: about,about_us
layout: base.njk
---

<h1>About Us</h1>

<p>Meet our dedicated team behind <i> Cowhead Company and Associates.</i></p>

<div class="team-grid">
    {% for items in collections.aboutus %}
        <div class="team-member">
            <img class="team-img" src="{{ items.fields.pic.fields.file.url }}" alt="{{ items.fields.name.content[0].content[0].value }}">
            {% set name = items.fields.name.content[0].content[0].value %}
            <p class="team-name">{{ name }}</p>
            {% set position = items.fields.position.content[0].content[0].value %}
            <p class="team-position">{{ position }}</p>
        </div>
    {% else %}
        <p>No team members found.</p>
    {% endfor %}
</div>
